*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.contact-form__h1 {
    background-color: aqua;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 5px solid red ;
    box-shadow: 10px 20px 10px orange;
    transform: rotate(5deg);
    position: sticky;
    top: 0;
}
.contact-form__h2-h3 {
    background-color: rgb(0, 255, 0);
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 5px dashed red ;
    text-shadow: 2px 5px 7px violet, 2px 5px 7px violet, 2px 5px 7px violet, 2px 5px 7px violet;
    transform: rotate(-10deg);
    position: sticky;
    top: 0;
}
.contact-form__h {
    background-color: violet;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 5px dashed blue ;
    box-shadow: 10px 20px 10px green;
    transform: rotate(5deg);
}
.contenedor {
    border: 4px solid violet;
    margin: 50px auto;
    height: 450px;
    width: 450px;
    background-color: aqua;
    position: relative;
}
.caja1 {
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
    display: block;
    position: absolute;
}
.caja2 {
    width: 100px;
    height: 100px;
    background-color: tomato;
    display: block;
    position: absolute;
    right: 0;
    
}
.caja3 {
    width: 100px;
    height: 100px;
    background-color: blue;
    display: block;
    position: absolute;
    bottom: 0;
}
.caja4 {
    width: 100px;
    height: 100px;
    background-color: red;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
}
.caja5 {
    width: 100px;
    height: 100px;
    background-color: green;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}